header.site-header {
  display: none;
}

body {
  font-family: Garamond, serif;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;
  color: rgb(0, 59, 111);
  background-color: #fafafa;
}

h1, h2 {
  color: #003366;
}
